@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: "Rushbrush"; 
    src: url("fonts/Rushbrush.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
*{
  font-family: 'Russo One', sans-serif;
}
body, html{height:100%}

body.main{
    background-image: url(images/klaviatura_podsvetka_fioletovyj_212155_1920x1080.jpg);
    text-align: center;
    color: white;
    /* background-size: cover; */
}
body.logbody{
    background-image: url(images/shar_tekstura_obem_196647_1920x1080.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    margin: 0;
}
body.reg{
    background-color: black;
    background-image: url(images/Cool-1920x1080-Gif-With-Transparant-Back-Ground-.gif);
    text-align: center;
    color: white;
    background-size: cover;
    margin: 0;
}
body.video{
    background-image: url(images/nvidia\ \(1920x1080\).jpg);
    text-align: center;
    color: white;
    background-size: cover;
    margin: 0;
}
body.procces{
    background-image: url(images/intel-12th-gen-core-1-16x9.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    margin: 0;
}
body.monitor{
    background-image: url(images/msi60a2285e52cb3323b80a56b0de38e0cc.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    margin: 0;
}
body.check{
    background-image: url(images/set_tekstura_raznotsvetnyj_154324_1920x1080.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    margin: 0;
    padding: 0;
    margin: 0; 
}
body.animabody{
    height: auto;
    color: white;
    background-size: cover;
    box-sizing: border-box;
    transition: 0.3s;
}
body.descript{
    background-color: #8EC5FC; 
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);

}

header{
    margin: auto;
}
header h1{
  text-align: center;
  color: white;
}

header ul {
    display: flex;
    padding-left: 25%;
}
header ul li {
   list-style: none;
    border: 3px solid white;
    margin: 5px;
}
header ul li:hover{
    background-color: white;
}
header ul li a {
    text-decoration: none;
    color: floralwhite;
    font-size: 130%;
}
.images{
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
.images img{
    width: 29%;
    box-shadow: 4px 4px 10px  black;
    margin-left: 50px;
    transition: 0.3s;
}
main{
    text-align: center;
}
.words {
    text-align: center;
}
.words p {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.map {
    width: 100%;
}
.map iframe{
    box-shadow: 4px 4px 10px  black;
    width: 50%;
}

.back{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.logmenu{
    text-align: center;
    background-position: center;
    box-shadow: 0px 0px 100px -10px rgb(139, 65, 65);
    background-size: cover;
    background-image: url(images/Gif-Animated-Wallpaper-Background-Full-HD-Free-Download-for-PC-Macbook-261121-Wallpaperxyz.com-6.gif);
    width: 40%;
    height: 60%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 1%;
}
 label{
    font-size: 160%;
}
 input{
    color: rgb(11, 218, 255);
    border: 4px solid white;
    padding: 5px;
    width: 50%;
    background-color: transparent;
}
 button{
    padding: 5px;
    color: white;
    width: 30%;
    transition: 0.5s;
    border: 4px solid white;
    background-color: transparent;
    
}
 button:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
    cursor: pointer;
}

.form {
    width: 40%;
    background-color: black;
    background-image: url(images/Cool-1920x1080-Gif-With-Transparant-Back-Ground-.gif);
    margin-left: 29%;
}
.form button{
    width: 50%;
    padding: 10px;
}
#pol{
    width: 5%;
}
#pol1{
    width: 5%;
}
#pointer{
    cursor: pointer;
}
.obshe ul li {
    list-style: none;
}
.obshe ul li a{
    text-decoration: none;
    color: white;
}
.vimages{
    width: 90%;
}
.vimages img{
    width: 29%;
    height: 100%;
    background-size: cover;
    border-radius: 4%;
    box-shadow: 0px 0px 20px -10px black;
    margin-left: 50px;
    transition: 0.2s;

}
.paragraps{
    width: 80%;
    margin-left: 10%;
}
header span{
    color: red;
    background-color: cornsilk;
    animation: rgb ease-in-out infinite 1s;
}
@keyframes rgb{
    50%{
        color: blue;
    }
    90%{
        color: gold;
    }
}
body.tablee{
    background: linear-gradient(#e66465, #9198e5);
    background-size: cover;
    height: 80%;
    text-align: center;
}
body.tablee a{
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
table{
    font-size: 40px;
    margin: 100px auto;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    border: 3px solid black;

}
td{
    border: 3px solid black;
    
}
.checkers {
    width: 55%;
    height: 90%;
    background-color: red;
    margin: auto;
    margin-top: 1%;
    padding: 0;
    display: flex;
    position: relative;
    border: 3px solid steelblue
}

.checkers .row {
    height: 100.1%;
    width: 12.5%;
    margin: 0;
    flex-direction: column;
}
.checkers .row .box{
    width: 100%;
    height: 12.5%;
    background-color: black;
    transition: .3s;
}
.checkers .row .even{
    width: 100%;
    height: 12.5%;
    background-color: white;
}
.checkers .row .box:nth-child(odd){
    background-color: white;
}
.checkers .row .even:nth-child(odd){
    background-color: black;

}
/* .numbers{
    position: absolute;
    color: black;
    left: -6%;
    height: 100vh;
    font-size: 31px;
    
} */
.top{
    display: flex;
    margin: auto;
    width: 55%;
    justify-content: space-around;
}
.left {
    position: absolute;
    height: 80%;
    justify-content: space-between;
    left: 18%;
}
.left h1 {
    height: 12.5%;
}
.right {
    position: absolute;
    height: 80%;
    justify-content: space-between;
    right: 18%;
}
.right h1 {
    height: 12.5%;
}
.checkers .row .box:hover{
    transform: scale(1.1);
    background-color: #2BFF88;
}
.checkers .row .even:hover{
    transform: scale(1.1);
    background-color: #2BFF88;
}
.check h1 {
transition: 0.3s;
}
.check h1:hover  {
    transform: scale(1.2);
    color: crimson;
}
.main a {
    transition: 0.3s;
}
.main a:hover{
    transform: scale(1.2);
    font-size: 30px;
    color: black;
}
.main span {
    transition: 0.2s;
}
.anim:hover span{
    color: cornsilk;
    background-color: red;
}
.images img:hover {
    transform: scale(1.05);
}
.vimages img:hover{
    transform: scale(1.05);
}
.anidiv{
    transition: 0.5s;
    width: 35vw;
    height: 60vh;
    background-color: white;
    text-align: center;
    margin: 10% auto;
    display: flex;
    align-items: center;
    border-radius: 100%;
}
.animated {
    transition: 0.3s;
    margin: auto;
    font-size: 100px;
    color: black;
    font-family: "Rushbrush";
    letter-spacing: 20px;
}
.animated:hover{
   transition: 0.4s;
   color: white;
   transform: scale(1.2);
}
.anidiv:hover{
    transition: 0.5s;
    width: 35vw;
    height: 60vh;
    background-color: red;
    color: white;
}
.anidiv:hover .animated{
    color: white;
}
body.cr{
    background-color: burlywood;
}

.cr a{
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(50%);
    right: 50%;
    position: absolute;
}
.cartoon{
    width: 900px;
    height: 800px;
    background-image: url(images/backANI.png);
    background-position: left 50%;
    margin: auto;
    border: 5px solid cornflowerblue;
    transition: .3s;
    position: relative;
    
}
.cartoon:hover{
    transition: 8s;
    background-position: right 50%;
}
.car {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 60px;
    transition: 2s;
    float: left;
}
.car:hover {
    bottom:-70px;
}
body.descript a {
    transition: .3s;
}
body.descript ul{
    padding-left: 3%;

}
body.descript a:hover{
    transform: scale(1.2);
    font-size: 30px;
    color: black;
}
.descbody{
    margin: 50px auto;
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstdesc {
    width: 50%;
    /* background-color: red; */
    height: 95%;
    overflow: hidden;
}
.firstdesc h1{
    text-align: center; 
    font-size: 50px;
}
.firstdesc p {
    font-size: 20px;
    text-align: center;
}
.seconddesc{
    width: 48%;
    height: 95%;
}
.seconddesc h1{
    text-align: center;
    font-family: "Rushbrush";
    letter-spacing: 5px;
}
body.flexhome{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    
}
body.flexhome .box{
    width: 20%;
    height: 10%;
    margin: 3px;
    border: 3px solid crimson;
}
.var1{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;

}
.twoflex{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    flex-direction: column;
    
}
.endd{
    align-items: flex-end;
}
